name: DEPLOY TO EC2 INSTANCE AWS
env:
  DEPLOY_PACKAGE_NAME       : "nodejs_app_${{ github.sha }}.zip"
  IMAGE_NAME:  nodejs_app
on: 
  push:
     branches:
       - master
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Git clone repository
      uses: actions/checkout@v2
      
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.ACCESS_TOKEN }}
        
    - name: build image
      run: |
        docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
        docker push ${{ secrets.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
    
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.ACCESS_TOKEN }}
    - name: deploy to AWS
      run: |
        echo "${{ secrets.PRIVATE_KEY }}" > private_key && chmod 600 private_key
        ssh -o StrictHostKeyChecking=no -i private_key ${{ secrets.AWS_EC2_USERNAME }}@${{ secrets.AWS_PUBLIC }}'
          export DOCKER_USER=${{ secrets.DOCKER_USER }} &&
          export IMAGE_NAME=${{ env.IMAGE_NAME }} &&
          export SHA_COMMIT=${{ github.sha }} &&
          export ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} &&
          docker login -u $DOCKER_USER -p $ACCESS_TOKEN &&
          docker run -d -p 3000:3000 ${{ secrets.DOCKER_USER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          '
        
